body {
        font-family: "Palatino Linotype";
        text-align: center;
        border-style: double;
        border-color: 000099;
        height: 800px;
        width: 500px;
        margin-left: 375px;
        background-color: CCFFFF;
}
h1 {
        font-size: 60px;
}

img {
        float: center;
        height: 510;
        width: 340;
}

#links {
        color:red;
        font-style: italic;
        font-size: 24px;
}
