body {
        border-style: ridge;
        font-family: "Palatino Linotype";
        background-color: #CCFFFF;
}
#name {
        font-size: 48px;
        text-align: center;
        height: 35px;
        margin: 0px;
}
#email {
        color: #000099;
        font-size: 20px;
        font-style: italic;
        text-align: center;
        
}
.type {
        color: #000099;
        font-size: 24px;
        font-style: italic;
}
.org {
        font-weight: bold;
}
.pos {
        font-size: 15px;
        font-style: italic;
}
.summary {
        font-size: 14px;
}
#link {
        text-align: center;
        color:red;
        font-style: italic;
        font-size: 16px;
}
